@font-face {
    font-family: "wf_segoe-ui_light";
    src: local("Segoe UI Light"), local("Segoe WP Light"), url('fonts/segoeui-light.woff') format('woff'), url('fonts/segoeui-light.ttf') format('truetype');
}

@font-face {
    font-family: "wf_segoe-ui_normal";
    src: local("Segoe UI"), local("Segoe WP"), url('fonts/segoeui-regular.woff') format('woff'), url('fonts/segoeui-regular.ttf') format('truetype');
}

@font-face {
    font-family: "wf_segoe-ui_semibold";
    src: local("Segoe UI Semibold"), local("Segoe WP Semibold"), url('fonts/segoeui-semibold.woff') format('woff'), url('fonts/segoeui-semibold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "wf_segoe-ui_semilight";
    src: local("Segoe UI Semilight"), local("Segoe WP Semilight"), url('fonts/segoeui-semilight.woff') format('woff'), url('fonts/segoeui-semilight.ttf') format('truetype');
}

[class*=icons8],
[class*=fa] {
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: "icons";
    src: url("fonts/icons/icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: wf_segoe-ui_normal, Segoe UI, Segoe WP, Tahoma, Arial, sans-serif;
    font-size: 16px;
    line-height: 1;
    height: 100%;
    overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a,
a:visited {
    color: #3348a7;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

.social-login h4 {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    line-height: 20px;
    padding: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    outline: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 0 10px #Fa6330;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 0 10px #Fa6330;
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed;
}

textarea.form-control {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="date"].form-control,
    input[type="time"].form-control,
    input[type="datetime-local"].form-control,
    input[type="month"].form-control {
        line-height: 34px;
    }
}


/*h1 {
font-size: 1.77em;
line-height: 1.2em;
margin-top: 1.6em;
}*/

.errspan {
    cursor: default;
    position: relative;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    height: 15px;
    z-index: 2;
    color: red;
}

.social-login {
    margin-top: 35px;
}

.social-login h3 {
    color: #fff;
}

.google-btn {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    border: 0;
    display: inline-block;
    background: #4285f4;
    color: #fff;
    width: auto;
    border-radius: 2px;
    border: 1px solid #4285f4;
    /* box-shadow: 0px 2px 2px #c4c9cc;*/
    white-space: nowrap;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.google-btn:hover,
.google-btn:focus {
    box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.2);
}

.google-btn span.icon {
    background: url('sign-in-with-google.svg') white 12px 50% no-repeat;
    display: inline-block;
    border-radius: 1px;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

.google-btn span.label {
    display: inline-block;
    vertical-align: middle;
    height: 42px;
    line-height: 42px;
    margin: 0;
    padding: 0 12px 0 0;
    font-size: 14px;
    font-weight: bold;
}

.text--title {
    font-family: "wf_segoe-ui_semibold";
    color: white;
    font-size: 60px;
    text-transform: none;
    font-weight: 300;
}

.login-error {
    cursor: default;
    -webkit-box-shadow: inset 0 2px 8px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 2px 8px rgba(0, 0, 0, .3);
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, .3);
    background-color: #fcc;
    font-family: "wf_segoe-ui_semibold";
    color: #f11;
    /*border: 3px solid #fcc;*/
    font-size: 16px;
    font-weight: 100;
    line-height: 40px;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.simple--text {
    font-family: "wf_segoe-ui_light";
    color: #8f8f8f;
    font-size: 22px;
    font-weight: 600;
    line-height: 36px;
    margin: 28px 0 0;
}

#login-page-layout {
    background-color: #0078d7;
    padding: 30px;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, .3);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, .3);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=true, ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
}

.layout-header {
    position: relative;
    text-align: center;
    padding: 80px 0 92px;
    font-weight: 300;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, .3);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, .3);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=true, ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    background-color: #383d61
}

.section {
    padding: 90px 0;
    padding-bottom: 30px;
    background-size: cover;
    background: #fff;
    position: relative;
}

.section.-pattern {
    padding: 50px;
    background-size: auto;
    background-repeat: repeat;
}

.section.-pattern.-light {
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, .3);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, .3);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=true, ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    background-color: rgba(100, 100, 100, 0.6);
}

.innerSection {
    margin: -60px 0 0;
}

.innerSection--section {
    margin: 50px 0 0;
}

.innerSection--section_title {
    font-size: 36px;
    padding: 4px 0 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

input,
button,
textarea {
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    background: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #afafaf;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #afafaf;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #afafaf;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #afafaf;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: #afafaf;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: #afafaf;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: #afafaf;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    color: #afafaf;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

#main {
    background: #fff;
}

button {
    cursor: pointer;
}

.field.-wide {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea,
textarea.form-control {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

textarea,
textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.field {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.field textarea {
    height: 130px;
}

.field input,
.field textarea {
    width: 100%;
    background: #fcfcfc;
    border: 2px solid #e9e9e9;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 20px;
    position: relative;
    z-index: 1;
    resize: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    vertical-align: top;
    color: #262626;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

em,
i {
    font-style: italic;
}

b,
strong {
    font-weight: 600;
}

.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    width: 100%;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    position: fixed;
    z-index: 110;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.header {
    background: #fff;
    position: relative;
    z-index: 100;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

.page-header {
    background-color: #0078d7;
    position: relative;
}

.page_header--title {
    cursor: default;
    font-family: "wf_segoe-ui_semilight";
    font-size: 60px;
    color: #fff;
}

.breadcrumbs {
    position: relative;
    -webkit-box-shadow: 0 -2px 8px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0 -2px 8px rgba(0, 0, 0, .6);
    box-shadow: 0 -2px 8px rgba(0, 0, 0, .6);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=true, ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    border-bottom: 1px solid #e9e9e9;
}

.breadcrumbs--list {
    padding: 16px 0 18px;
}

.breadcrumbs--item {
    display: inline-block;
    margin: 0 0 0 35px;
    position: relative;
}

.breadcrumbs--item:before {
    display: block;
    content: '\f14c';
    display: inline-block;
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    position: absolute;
    left: -27px;
    top: -1px;
    color: #bdbdbd;
}

.breadcrumbs--item:first-child {
    margin-left: 0;
}

.breadcrumbs--item:first-child:before {
    display: none;
}

.breadcrumbs--link {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #262626;
}

.breadcrumbs--link.-active {
    color: #0078d7;
}

.header-inner {
    z-index: 2;
    position: relative;
    padding: 32px 0;
}

.header--right {
    float: right;
}

.header-nav {
    display: inline-block;
}

.header-nav .menu .menu-item {
    position: relative;
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left;
}

.header-nav .menu .menu-item>a {
    color: #2a3444;
}

.header-nav .menu .menu-item>a:hover {
    color: #262626;
}

.header-nav .menu>.menu-item {
    display: inline-block;
    padding: 5px 0;
    margin: 0 0 0 25px;
    vertical-align: middle;
    cursor: pointer;
}

.header-nav .menu a {
    font-weight: 500;
}

.header-nav .menu>.menu-item>a {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

.header-nav .menu>.menu-item>a:hover {
    color: #0078d7;
}

.header-nav .menu>.menu-item>a:before {
    display: none;
    height: 2px;
    content: '';
    position: absolute;
    top: -100%;
    left: -10px;
    right: -10px;
    margin-top: -1px;
    background: #0078d7;
}

.header-nav .menu>.menu-item:first-child {
    margin: 0;
}

.header-nav .menu>.menu-item.current-menu-item>a,
.header-nav .menu>.menu-item:hover>a {
    color: #0078d7;
}

.mobile-nav {
    /* display: none;*/
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
}

.profile-dropdown {
    position: absolute;
    background-color: #fff;
    top: 100%;
    overflow: auto;
    right: 0;
    display: none
}

#profile-stuff .sub-menu {
    min-width: 180px;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


/*#profile-stuff .sub-menu li {}*/

#profile-stuff .sub-menu li a {
    color: #2a3444;
    border-bottom: 1px solid #333;
    text-decoration: none;
    display: block;
    padding: 15px;
}

#profile-stuff .sub-menu li a:hover {
    display: block;
    color: #fff;
    background-color: #0078d7;
    -webkit-box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.2);
}

.header--inner {
    padding: 25px 0;
}

.header--logo {
    position: relative;
    padding-top: 8px;
    z-index: 1;
}

.header--logo img,
.header--logo svg {
    width: 180px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.header--menu-opener {
    display: none;
    position: absolute;
    left: 12px;
    top: 46px;
    width: 60px;
    height: 60px;
    margin: -30px 0 0;
    z-index: 1;
    color: #fff;
    padding: 0;
}

.header--menu-opener .c-hamburger {
    top: 2px;
    left: 2px;
    -webkit-transform: scale(0.4) translate(-50%, -50%);
    -ms-transform: scale(0.4) translate(-50%, -50%);
    transform: scale(0.4) translate(-50%, -50%);
}

.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: #363636;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #363636;
    content: "";
}

.c-hamburger span::before {
    top: -20px;
}

.c-hamburger span::after {
    bottom: -20px;
}

.c-hamburger--htx span {
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, -webkit-transform;
    transition-property: top, transform;
    transition-property: top, transform, -webkit-transform;
}

.c-hamburger--htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
    transition-property: bottom, transform, -webkit-transform;
}

body .c-hamburger--htx.is-active span,
body .slideout-open .c-hamburger--htx span {
    background: none;
}

.c-hamburger--htx.is-active span::before,
.slideout-open .c-hamburger--htx span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after,
.slideout-open .c-hamburger--htx span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.slideout-open .c-hamburger--htx span::before,
.c-hamburger--htx.is-active span::after,
.slideout-open .c-hamburger--htx span::after {
    -webkit-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s;
}

.header .container>.row {
    position: relative;
}

body .header .row>[class*=col] {
    position: static;
}

.btn {
    font-family: "wf_segoe-ui_semibold";
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.2);
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none;
}

.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

td,
th {
    text-align: left;
    min-width: 120px;
    padding: 10px;
}

.view-category {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    border-style: hidden;
    box-shadow: 0 0 0 1px #666;
}

.view-category td,
.view-category th {
    border: 1px solid #dddddd;
}

.all-books-table td {
    border: 1px solid #dddddd;
}

.all-books-table th {
    border-style: hidden;
    color: #fff;
    font-family: "wf_segoe-ui_semibold";
    border-left: 1px solid #dddddd;
}

.all-books-table {
    background: #383d61;
}

.all-books-table tbody tr:nth-child(even) {
    background-color: #BFC2D9;
}

.all-books-table tbody tr:nth-child(odd) {
    background-color: #eeeeee;
}


/*.all-books-table tr:first-child {
    background-color: #383d61;
}*/

.checkbox {
    position: relative;
    width: 1rem;
    height: 1rem;
    margin-right: .75rem;
    cursor: pointer;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}

.checkbox:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 2px dashed #888888;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.checkbox:checked:before {
    border: 2px solid #FA6330;
    height: 50%;
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-top-style: none;
    border-right-style: none;
}

.checkbox:disabled::before {
    border: 1px dashed #ccc;
}

.books-book-name a {
    cursor: help;
}

.books-book-name .tool-tiptext {
    text-align: justify;
    visibility: hidden;
    display: inline-block;
    max-width: 360px;
    font-size: 18px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 3;
}

.tool-tiptext img {
    max-height: 180px;
    float: left;
}

.books-book-name:hover .tool-tiptext {
    visibility: visible;
}

.view-category label {
    display: block
}

.section_divider {
    height: 1px;
    background: #e9e9e9;
    border: 0;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0 auto;
}

.section_divider.-narrow {
    max-width: 1170px;
}

.search-box {
    float: left;
    width: 100%;
    height: 60px;
    background: #383d61;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.1);
}

.search-box form {
    float: left;
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.search-box .book-search {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    outline: none;
    background: #fff;
    padding: 10px;
    height: 50px;
    -webkit-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;
    -webkit-appearance: none;
}

.search-box .book-search:focus {
    height: 58px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    outline: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 0 10px #Fa6330;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 0 10px #Fa6330;
}

.form-box {
    margin-top: 70px;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.35);
    -ms-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-top-left h3 {
    margin-top: 0;
    color: #fff;
}

.form-top-left p {
    opacity: 0.8;
    color: #fff;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.3);
    -ms-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-bottom form textarea {
    height: 100px;
}

.form-bottom form button.btn {
    width: 100%;
}

.form-bottom form .input-error {
    border-color: #ff1111;
}

.footer {
    background-color: #fff;
    position: relative;
}

.footer>div {
    position: relative;
    z-index: 1;
}

.footer:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 100%;
}

.footer--inner {
    -webkit-box-shadow: 0 -3px 8px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0 -3px 8px rgba(0, 0, 0, .6);
    box-shadow: 0 -3px 8px rgba(0, 0, 0, .6);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=true, ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    position: relative;
    z-index: 1;
}

.footer-copyrights {
    margin: 30px 0 20px 0;
}

.footer-copyrights--logo svg,
.footer-copyrights--logo img {
    width: 120px;
}

.footer-copyrights--container {
    padding: 12px;
    position: relative;
    z-index: 1;
}

.footer-copyrights--item_copyrights {
    border-top: 1px solid #444;
    font-size: 15px;
    color: #222;
    opacity: 0.6;
    text-align: right;
    padding: 3px 0 3px 0;
    margin: 0;
}

body .visible-xs-block,
body .visible-xs-inline,
body .visible-xs-inline-block,
body .visible-sm-block,
body .visible-sm-inline,
body .visible-sm-inline-block,
body .visible-md-block,
body .visible-md-inline,
body .visible-md-inline-block,
body .visible-lg-block,
body .visible-lg-inline,
body .visible-lg-inline-block {
    display: none;
}


/*cols*/

.col,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

@media (max-width: 1200px) {
    .layout-header {
        padding: 70px 0;
    }
    .page_header--title {
        font-size: 50px;
    }
    .login-error {
        font-size: 15px;
        font-weight: 100;
    }
    .text--title {
        font-size: 44px;
    }
    .simple--text {
        font-size: 22px;
        line-height: 32px;
    }
    .header--logo {
        padding: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    body .visible-md-block {
        display: block;
    }
}

@media (max-width: 991px) {
    .table-outer {
        overflow-x: scroll;
    }
    .header-nav .menu {
        display: none;
    }
    .header-nav .menu .menu-item {
        float: none;
        margin: 0;
        display: block;
    }
    .header-nav .menu>.menu-item {
        padding: 0;
        border-bottom: 1px solid #333;
    }
    .header-nav .menu .menu-item a {
        display: block;
        width: 100%;
        line-height: 40px;
        padding: 10px;
    }
    .header-nav .menu>.menu-item a:hover {
        color: #fff;
        background-color: #0078d7;
    }
    .profile-dropdown {
        position: relative;
        background-color: #fff;
        overflow: auto;
        right: 0;
        display: none
    }
    #profile-stuff .sub-menu {
        border-top: 1px dashed #333;
    }
    /*#profile-stuff .sub-menu li {}*/
    #profile-stuff .sub-menu li a {
        border-bottom: none;
        text-decoration: none;
        display: block;
        padding: 1px;
    }
    #profile-stuff .sub-menu li a:hover {
        display: block;
        color: #111;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .header--right {
        float: none;
        padding: 10px 0 0;
    }
    .text--title {
        font-size: 36px;
    }
    .simple--text {
        font-size: 20px;
        line-height: 28px;
    }
    .header-nav {
        display: block !important;
        width: 100%;
    }
    body .header--menu-opener {
        display: block;
        margin: -30px 0 0;
    }
}

@media (max-width: 992px) {
    .header {
        padding: 0;
    }
    .header--logo {
        text-align: center;
    }
    .layout-header {
        padding: 50px 0;
    }
    .page_header--title {
        font-size: 40px;
    }
    body .section {
        padding: 50px 0;
    }
    .innerSection--section {
        margin: 30px 0 0;
    }
    .innerSection--section_title {
        font-size: 30px;
    }
    .footer {
        background-size: contain;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    body .visible-sm-block {
        display: block;
    }
}

@media (max-width: 767px) {
    .tool-tiptext img {
        max-height: 120px;
    }
    .books-book-name .tool-tiptext {
        max-width: 240px;
        font-size: 12px;
    }
    .layout-header {
        padding: 30px 0;
    }
    .page_header--title {
        font-size: 35px;
    }
    .text--title {
        font-size: 32px;
    }
    .simple--text {
        font-size: 18px;
        line-height: 26px;
    }
    body .visible-xs-block {
        display: block;
    }
    .header--menu-opener {
        left: 0;
    }
}

@media (max-width:400px) {
    .login-error {
        font-size: 11px;
        font-weight: 50;
    }
    .innerSection--section {
        font-size: 14px;
        margin: 20px 0 0;
    }
    .innerSection--section_title {
        font-size: 24px;
    }
}

@media (max-width:400px) {
    .login-error {
        font-size: 9px;
        font-weight: 50;
    }
}

@media (min-width: 769px) {
    .container {
        width: 750px;
    }
    .col,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .header-nav .menu {
        display: block !important;
    }
    .col,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .vertical-align {
        display: flex;
        align-items: center;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66666667%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }
    .col-md-pull-7 {
        right: 58.33333333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66666667%;
    }
    .col-md-pull-4 {
        right: 33.33333333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66666667%;
    }
    .col-md-pull-1 {
        right: 8.33333333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66666667%;
    }
    .col-md-push-10 {
        left: 83.33333333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66666667%;
    }
    .col-md-push-7 {
        left: 58.33333333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66666667%;
    }
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-push-1 {
        left: 8.33333333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 1200px) {
    body .visible-lg-block {
        display: block;
    }
    .container {
        width: 1170px;
    }
    .col,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-pull-12 {
        right: 100%;
    }
    .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-push-12 {
        left: 100%;
    }
    .col-lg-push-11 {
        left: 91.66666667%;
    }
    .col-lg-push-10 {
        left: 83.33333333%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-8 {
        left: 66.66666667%;
    }
    .col-lg-push-7 {
        left: 58.33333333%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-5 {
        left: 41.66666667%;
    }
    .col-lg-push-4 {
        left: 33.33333333%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-2 {
        left: 16.66666667%;
    }
    .col-lg-push-1 {
        left: 8.33333333%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left: 0%;
    }
}

.clearfix,
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}

button.btn {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #Fa6330;
    border: 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

button.btn:hover {
    color: #fff;
    box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.2);
}

button.btn:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button.btn:focus {
    outline: 0;
    opacity: 0.6;
    background: #19b9e7;
    color: #fff;
}

button.btn:active:focus,
button.btn.active:focus {
    outline: 0;
    opacity: 0.6;
    background: #19b9e7;
    color: #fff;
}

.show {
    display: block;
}