{
  "presets": [
    "es2015",
    "stage-2",
    "react"
  ],
  "plugins": [
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        [
      "add-module-exports"
        ],
        [
        "istanbul"
        ]
      ]
    }
  }
}
