@mixin appearance($value){
  -o-appearance: $value;
  -ms-appearance: $value;
  -moz-appearance: $value;
  -webkit-appearance: $value;
  appearance: $value;
}
@mixin border-box {
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}
@mixin box-shadow-none {
  -o-box-shadow:none;
  -ms-box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@mixin cust-box-shadow($val){
  -o-box-shadow:$val;
  -ms-box-shadow:$val;
  -moz-box-shadow:$val;
  -webkit-box-shadow: $val;
  box-shadow: $val;
}
@mixin transition($tranValue){
  -moz-transition: $tranValue;
  -o-transition: $tranValue;
  -ms-transition: $tranValue;
  -webkit-transition: $tranValue;
  transition: $tranValue;
}
@mixin transition-duration($transvalue){
  -moz-transition-duration: $transvalue;
  -o-transition-duration: $transvalue;
  -ms-transition-duration: $transvalue;
  -webkit-transition-duration: $transvalue;
  transition-duration: $transvalue;
}
@mixin transition-delay($delayVal){
  -o-transition-delay: $delayVal;
  -moz-transition-delay: $delayVal;
  -ms-transition-delay: $delayVal;
  -webkit-transition-delay: $delayVal;
  transition-delay: $delayVal;
}
@mixin transition-03{
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
@mixin border-radius($info){
  -o-border-radius: $info;
  -ms-border-radius: $info;
  -moz-border-radius: $info;
  -webkit-border-radius: $info;
  border-radius: $info;
}
@mixin animation-duration($val){
  -ms-animation-duration: $val;
  -moz-animation-duration: $val;
  -o-animation-duration: $val;
  -webkit-animation-duration: $val;
  animation-duration: $val;
}
@mixin animation-timing-function($val){
  -ms-animation-timing-function: $val;
  -o-animation-timing-function: $val;
  -webkit-animation-timing-function: $val;
  animation-timing-function: $val;
}
.media {
  // Proper spacing between instances of .media
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
}

.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}

.media-body {
  width: 10000px;
}

.media-object {
  display: block;

  // Fix collapse in webkit from max-width: 100% and display: table-cell.
  &.img-thumbnail {
    max-width: none;
  }
}

.media-right,
.media > .pull-right {
  padding-left: 10px;
}

.media-left,
.media > .pull-left {
  padding-right: 10px;
}

.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}

.media-middle {
  vertical-align: middle;
}

.media-bottom {
  vertical-align: bottom;
}

// Reset margins on headings for tighter default spacing
.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

// Media list variation
//
// Undo default ul/ol styles
.media-list {
  padding-left: 0;
  list-style: none;
}
